body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  padding: 1em 5em 1em 1.5em;
  background: rgb(69, 69, 102);
  color: white;
  border-radius: 10px;
  border: 0;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: rgb(30, 30, 53);
  height: 100%;
  width: 3rem;
  border-radius: 0 10px 10px 0;
  pointer-events: none;
}

.custom-select {
  position: relative;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 1em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);

  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);

  top: 65%;
}
